<main class="form-signin w-100 m-auto">


    <h1 class="h3 mb-3 fw-normal">Student Registration</h1>

    <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" required
            [(ngModel)]="std.email">
        <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control m-0" id="floatingPassword" placeholder="Password" required
            [(ngModel)]="std.password">
        <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
        <input type="password" class="form-control m-0" id="floatingPassword" placeholder="Confirm Password" required
            [(ngModel)]="confirmPassword">
        <label for="floatingPassword">Confirm Password</label>
    </div>
    <span class="text-danger">{{message}}</span>
    <button class="w-100 btn btn-lg btn-primary my-2" type="submit" (click)="Register()">Create Account</button>

</main>